---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Buy and Selling Cars - Noah Wekesa">
  <div class="flex flex-col items-center justify-center">
    <div class="items-start text-sm breadcrumbs">
      <ul>
        <li><a class="link-accent" href="/works">works</a></li>
        <li class="text-xl font-bold">
          Django Buy and Sell Cars web application
        </li>
      </ul>
    </div>

    <div class="items-center">
      <p>
        This Django application is a full-stack solution for <br /> buying and selling
        cars. It allows users to create, view, and <br />manage car listings, as
        well as interact with other users.
      </p>
      <h4 class="underline mt-4">Features</h4>
      <ul>
        <li>User registration and authentication</li>
      </ul>
      <li>Car listing creation and management</li><li>
        Car details display and search
      </li><li>User profiles and car history</li><li>
        Admin panel for managing users and cars
      </li>
      <div class="mt-4 justify-center">
        <ul class="p-9">
          <li class="p-2">
            Website: <a
              class="underline text-blue-500"
              href="https://github.com/noahwekesa/todoListApp-django">Link</a
            >
          </li>
          <li class="p-2">
            Stack: <span class="text-pink-500 bg-zinc-800 p-2 rounded">
              HTML / Django / Bootstrap 5
            </span>
          </li>
          <li class="p-2">
            Documentation: <a
              href="https://github.com/noahwekesa/todoListApp-django/README.md"
              class="text-pink-500 bg-zinc-800 p-2 rounded">README.md</a
            >
          </li>
          <li class="p-2">
            Source Code
            <a
              href="https://github.com/Noahwekesa/CarMax-django"
              class="text-pink-500 bg-zinc-800 p-2 rounded">Github</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-auto m-auto h-auto">
      <img
        class="w-100 h-64"
        src="https://github.com/Noahwekesa/CarMax-django/blob/master/preview/car.png?raw=true"
        alt=""
      />
      <img
        class="mt-6 w-100 h-64"
        src="https://github.com/Noahwekesa/CarMax-django/blob/master/preview/list.png?raw=true"
        alt=""
      />
    </div>
  </div>
</BaseLayout>
