---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="sushiman - Noah Wekesa">
  <div class="flex flex-col items-center justify-center">
    <div class="items-start text-sm breadcrumbs">
      <ul>
        <li><a class="link-accent" href="/works">works</a></li>
        <li class="text-xl font-bold">JOB PORTAL</li>
      </ul>
    </div>

    <div class="items-center">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br /> Dignissimos
        vel deserunt fugit id laborum nostrum delectus expedita?<br /> Delectus sunt
        voluptatibus excepturi repellat fugiat, perspiciatis<br /> ipsum ullam pariatur
        asperiores sapiente quidem.
      </p>
      <div class="mt-4 justify-center">
        <ul class="p-9">
          <li class="p-2">
            Website: <a class="underline text-blue-500" href="">None</a>
          </li>
          <li class="p-2">
            Stack: <span class="text-pink-500 bg-zinc-800 p-2 rounded">
              HTML / CSS / Python Django Framework / sqlite / bootstrap 5
            </span>
          </li>
          <li class="p-2">
            Documentation: <a
              href="https://github.com/noahwekesa/recipe/README.md"
              class="text-pink-500 bg-zinc-800 p-2 rounded hover:underline"
              >README.md</a
            >
          </li>
          <li class="p-2">
            Source Code
            <a
              href="https://github.com/noahwekesa/Job-django"
              class="text-pink-500 bg-zinc-800 p-2 rounded hover:underline"
              >Github</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-auto m-auto h-auto">
      <img class="w-100 h-64" src="/works/job.png" alt="" />
    </div>
  </div>
</BaseLayout>
