---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="sushiman - Noah Wekesa">
  <div class="flex flex-col items-center justify-center">
    <div class="items-start text-sm breadcrumbs">
      <ul>
        <li><a class="link-accent" href="/works">works</a></li>
        <li class="text-xl font-bold">Sushiman</li>
      </ul>
    </div>

    <div class="items-center">
      <p>
        Single page application made with HTML and css <br />
      </p>
      <div class="mt-4 justify-center">
        <ul class="p-9">
          <li class="p-2">
            Website: <a
              class="underline text-blue-500"
              href="https://restaraunt1.netlify.app/"
              >https://restaraunt1.netlify.app/</a
            >
          </li>
          <li class="p-2">
            Stack: <span class="text-pink-500 bg-zinc-800 p-2 rounded">
              HTML / CSS
            </span>
          </li>
          <li class="p-2">
            Documentation: <a
              href="https://github.com/noahwekesa/recipe/README.md"
              class="text-pink-500 bg-zinc-800 p-2 rounded">README.md</a
            >
          </li>
          <li class="p-2">
            Source Code
            <a
              href="https://github.com/noahwekesa/recipe"
              class="text-pink-500 bg-zinc-800 p-2 rounded">Github</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-auto m-auto h-auto">
      <img class="w-100 h-64" src="/works/sushiman.png" alt="" />
    </div>
  </div>
</BaseLayout>
