---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="sushiman - Noah Wekesa">
  <div class="flex justify-center">
    <div class="items-start text-sm breadcrumbs">
      <ul>
        <li><a class="link-accent">works</a></li>
        <li class="text-xl font-bold">Sushiman</li>
      </ul>
    </div>
  </div>
</BaseLayout>

