---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Wekesa Contact ">
  <div class="relative flex flex-col items-center justify-center">
    <h1 class="text-5xl">Get In Touch</h1>
    <div class="m-9">

<h1 class="text-2xl "> <span class="text-pink-500 bg-zinc-800 p-2 rounded">Email:</span>  Noahwekesa0@gmail.com</h1>
<h1 class="text-2xl"> <span class="text-pink-500 bg-zinc-800 p-2 rounded">Phone:</span>  0721914166</h1>
    </div>
  </div>
</BaseLayout>
