---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Box, Container } from '@radix-ui/themes'
---

<BaseLayout title="Wekesa Contact ">
  <Container align="center">
    <h1>Hello world</h1>
  </Container>
</BaseLayout>
