---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Wekesa Contact ">
  <div class="relative flex flex-col items-center justify-center">
    <h1 class="text-5xl">Get In Touch</h1>
    <div></div>
  </div>
</BaseLayout>
