---
import BaseLayout from '../layouts/BaseLayout.astro'
import BioCard from '../components/BioCard.astro'
import Services from '../components/Services.astro'
import Socials from '../components/Socials.tsx'
import Newsletter from '../components/Newsletter.tsx'
---

<BaseLayout title="Wekesa Portfolio.">
  <main>
    <BioCard />
    <Socials client:load />
    <!-- <Services /> -->
  </main>
</BaseLayout>
