---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Wekesa Portfolio.">
  <main>
    <div class="avatar">
      <div class="w-24 rounded-xl"></div>
    </div>
    <div class="avatar">
      <div class="w-24 rounded-full">
        <img src="/noah.jpg" alt="image of noah wekesa" />
      </div>
    </div>
  </main>
</BaseLayout>
