---
import BaseLayout from '../layouts/BaseLayout.astro'
import BioCard from '../components/BioCard.astro'
---

<BaseLayout title="Wekesa Portfolio.">
  <main>
    <BioCard />
  </main>
</BaseLayout>
