---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Wekesa - complete projects">
  <div class="items-start underline text-5xl justify-center mx-auto flex">
    works
  </div>
  <div class="flex items-center min-h-screen container justify-center mx-auto">
    <div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      <!--Sushiman landing page -->
      <div class="p-5 card w-96 bg-base-100 shadow-xl">
        <a href="../works/sushiman">
          <figure>
            <img src="/works/sushiman.png" alt="noahwekesa.github.io/recipe/" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">SUSHIMAN</h2>
            <p>A single page website for japanese food restaurant</p>
          </div>
        </a>
      </div>
      <!--Car selling brand-->
      <div class="card rounded p-5 w-96 bg-base-100 shadow-xl">
        <a href="../works/car">
          <figure>
            <img
              src="https://github.com/Noahwekesa/CarMax-django/blob/master/preview/list.png?raw=true"
              alt="buy and sell cars"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Buy and sell cars Web Application</h2>
            <p>Buy and sell carsmade with django.</p>
          </div>
        </a>
      </div>

      <!--Job portal-->
      <div class="card rounded p-5 w-96 bg-base-100 shadow-xl">
        <a href="../works/job">
          <figure>
            <img src="/works/job.png" alt="Job portal website" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Job Portal Web Application</h2>
            <p>Job Portal WebApp made with django.</p>
          </div>
        </a>
      </div>

      <!--todo list made with django -->
      <div class="card rounded p-5 w-96 bg-base-100 shadow-xl">
        <a href="../works/todo">
          <figure>
            <img src="/works/todo.png" alt="Todo app" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Django Todo List App with DaisyUI and HTMX
            </h2>
            <p>
              This is a simple Todo List web application built with Django,
              DaisyUI, and HTMX.
            </p>
          </div>
        </a>
      </div>
      <!--Car wash-->

      <div class="p-5 card w-96 bg-base-700 shadow-2xl cursor-pointer">
        <a href="" class="hover:shadow-neutral-800">
          <figure>
            <img src="/works/carwash.png" alt="noahwekesa.github.io/recipe/" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Car Wash system</h2>
            <p>
              Carwash System designed to streamline the services of a carwash
              business.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
