---
import {
  Button,
  Link,
  Avatar,
  Box,
  Text,
  Flex,
  Heading
} from '@radix-ui/themes'
---

<div class="relative flex flex-col items-center justify-center">
  <Box>
    <Heading as="h4" mb="5">
      Hello, I'm a software developer based in Kenya.
    </Heading>
  </Box>
  <Flex>
    <Box mb="5">
      <Heading as="h1" size="9">Noah Wekesa</Heading>
      <Text size="4" color="gray" align="center"
        >Digital Craftsman (software developer)</Text
      >
    </Box>
    <div class="avatar ml-7">
      <div class="w-24 rounded-full">
        <Avatar size="6" src="/noah.jpg" radius="full" fallback="NW" />
      </div>
    </div>
  </Flex>
  <!-- bio -->
  <Box mb="5">
    <Heading as="h1" weight="bold" mb="1" size="8">Bio</Heading>

    <Flex maxWidth="500px" align="center" justify="start">
      <Text color="gray" as="p" size="6" wrap="wrap">
        Wekesa is a fullstack developer proficient in Django web framework. With
        2 years of experience in web development, I specialize in leveraging
        Django to build scalable, secure, and high-performance web solutions
        tailored to meet your specific needs.
      </Text>
    </Flex>
  </Box>

  <Box mb="5">
    <Link href="/works">
      <Button color="indigo" size="4" variant="solid">My portfolio</Button>
    </Link>
  </Box>
</div>
