---

import EmailSignup from '../components/subscribe/EmailSignup.astro'
---

<div class="relative flex flex-col items-center justify-center">
  <h4 class="glass mx-15 mb-6 p-4 rounded-xl text-xl font-bold">
    Hello, i'm a software developer based in Kenya.
  </h4>
  <div class="flex flex-row">
    <div>
      <h2 class="text-5xl font-bold">Noah Wekesa</h2>
      <p>Digital Craftsman ( software developer )</p>
    </div>
    <div class="avatar ml-7">
      <div class="w-24 rounded-full">
        <img src="./noah.jpg" alt=" noah wekesa" />
      </div>
    </div>
  </div>
  <div>
    <div class="relative">
      <h2 class="px-10 text-4xl font-bold underline">Bio</h2>
      <p id="anim-p" class="px-10 text-lg">
       Wekesa is a fullstack developer proficient in Django web framework.
        <br />  With 2 years of experience in web development, I specialize in <br />
        leveraging Django to build scalable, secure, and 
        high-performance <br/> web solutions tailored to meet your specific needs.
      </p>
    </div>
  </div>

  <div class="text-center mt-6">
    <a href="/works" class="btn btn-primary shadow-lg">My portfolio</a>
  </div>

  <!--Social links-->
  <div class="mt-10 items-center flex flex-col">
    <div>
      <h1 class="underline text-xl m-4">On The Web</h1>
      <a href="http://github.com/noahwekesa" target="_blank">
        <button class="btn bg-transparent text-fuchsia-500 hover:bg-gray-900">
          <img src="/github.svg" alt="" />
          @noahwekesa</button
        >
      </a>

      <div>
        <a href="http://x.com/disabledcookie" target="_blank">
          <button class="btn bg-transparent text-fuchsia-500 hover:bg-gray-900">
            <img src="/twitter.svg" alt="" />
            @noahwekesa</button
          >
        </a>
      </div>

      <div>
        <a href="mailto:noahwekesa0@gmail.com" target="_blank">
          <button class="btn bg-transparent text-fuchsia-500 hover:bg-gray-900">
            <img src="/email.png" alt="" />
            Noahwekesa0@gmail.com</button
          >
        </a>
      </div>


      <div>
        <a href="" target="_blank">
          <button class="btn bg-transparent text-fuchsia-500 hover:bg-gray-900">
            <img src="/whatsapp.svg" width="24" height="24" alt="whatsapp" />
            Whatsapp</button
          >
        </a>
      </div>

<EmailSignup />
    </div>
  </div>

  <style>
    .glass {
      --glass-blur: 5px;
    }
  </style>
</div>
