---

---

<div class="relative flex flex-col items-center justify-center">
  <h4 class="glass mx-15 mb-6 p-4 rounded-xl text-xl font-medium">
    Hello, i'm a software developer based in nairobi, Kenya.
  </h4>
  <div class="flex flex-row">
    <div>
      <h2 class="text-5xl font-bold">Noah Wekesa</h2>
      <p>Digital Craftsman ( developer )</p>
    </div>
    <div class="avatar ml-7">
      <div class="w-24 rounded-full">
        <img src="./noah.jpg" alt="image of noah wekesa" />
      </div>
    </div>
  </div>
  <div class="relative">
    <p id="anim-p" class="p-6 text-lg">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsam
      nostrum magni recusandae praesentium. Unde ad ea porro dolorem rerum est
      qui! Tenetur ratione eveniet, maxime commodi voluptatibus nisi veniam.
    </p>
  </div>
</div>

<div><a href="/works" class="btn btn-primary">My portfolio</a></div>
