<footer class="footer footer-center p-4 text-base-content">
  <aside>
    <p>
      © <script>
        document.write(new Date().getFullYear())
      </script>
      <a href="http://github.com/Noahwekesa">Noah Wekesa.</a> All right reserved.
    </p>
  </aside>
</footer>
