---
import { Link, Box } from '@radix-ui/themes'
---

<Box align="center" m="5">
  <footer class="p-4 text-base-content">
    <aside>
      <p>
        © <script>
          document.write(new Date().getFullYear())
        </script>
        <Link href="http://www.github.com/Noahwekesa">Noah Wekesa.</Link> All right
        reserved.
      </p>
    </aside>
  </footer>
</Box>
