  <div class="flex items-center min-h-screen container justify-center mx-auto">
    <div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
 
<!--Sushiman landing page -->
      <div class="p-5 card w-96 bg-base-100 shadow-xl">
        <a href="../works/sushiman">
          <figure>
            <img src="/works/sushiman.png" alt="noahwekesa.github.io/recipe/" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">SUSHIMAN</h2>
            <p>A single page website for japanese food restaurant</p>
          </div>
        </a>
      </div>
</div>
  </div>
