---
import '../style/global.css'
import '@fontsource/syne'
import NavBar from '../components/Nav'
import ThemeChanger from '../components/ThemeChanger.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="noah wekesa portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/noah.jpg" />

    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
    ></script>
    <title>{title}</title>

    <style>
      body {
        font-family: 'Syne';
      }
    </style>
  </head>
  <body>
    <NavBar client:load />
    <slot />
    <ThemeChanger />
  </body>
</html>
